body {
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: 3000px;
    color: lightgrey;     

}

.flash-message {
    margin-top: 20px;
}

#menu {
    width: auto;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
    background-color: #8AD9FF;
    border-radius: 8px;

}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li { 
display: inline; 
padding: 20px; 
}

#menu a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}
#menu a:hover {
    color: #F90;
    background-color: #FFF;
}

#menu.logout {
	text-align: right;
}

#input {
	display: inline;
	margin: 2px;
}

#task-form {
	width:1000;
	padding:20;
}

.taskinput {
	padding: 20px;
	margin-bottom: 20px;
}

input {
	max-width: 500px;
}

fieldset {
	display: block;
	margin: 20px;
	padding: 20px;
}

#navHome {
	font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
}

.taskTable {
    border-collapse: collapse;
    border: 1px solid white;
}

