<h1>Hi {{vm.user.firstName}}!!</h1>

List of Tasks For Team: &nbsp;

<select ng-model="vm.task.projectName" ng-options="i.ProjectName for i in vm.projects">
  <option value="">--Select--</option>              
</select>

<button class="btn btn-primary" ng-click="vm.getSelTasks()">OK</button>


<table id="taskTable">
	<tr>
		<td>Project</td>
		<td>Resource</td>
		<td>TaskName</td>
		<td>TaskStatus</td>
		<td>Estimated Start Date</td>
		<td>Estimated End Date</td>
		<td>Actual Start Date</td>
		<td>Actual End Date</td>
		<td>Estimated Effort</td>
		<td>Actual Effort</td>
	</tr>
	<tr ng-repeat = "task in tasks">
		<td>{{task.projectName}}</td>
		<td>{{task.username}}</td>
		<td>{{task.taskName}}</td>
		<td>{{task.status}}</td>
		<td>{{task.estimatedStartDate}}</td>
		<td>{{task.estimatedEndDate}}</td>
		<td>{{task.actualStartDate}}</td>
		<td>{{task.actualEndDate}}</td>
		<td>{{task.estimatedEffort}}</td>
		<td>{{task.actualEffort}}</td>
	</tr>
</table>
